h2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 700;
  line-height: 1.25;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
}
.titulo {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 700;
  line-height: 1.25;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
}
.card-custom-hover {
  transition: box-shadow 0.3s ease;
}

.card-custom-hover:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-link {
  text-decoration: none;
  font-weight: bold;
  color: #28a745; /* Color verde para destacar */
}

.custom-link:hover {
  text-decoration: underline;
  color: #218838;
}
.custom-link:visited {
  color: #0056b3; /* Color azul para enlaces visitados */
}
